<div class="hero-unit__navigation">

  <div class="hero-unit__logo">
    <%= image_tag("logo.png") %>
  </div>

  <nav class="hero-unit__navigation-links">
    <ul>
      <li>
        <%= link_to "Overview", root_path %>
      </li>
      <li>
        <%= link_to "How it works", howitworks_path %>
      </li>
      <li>
        <%= link_to "Customers", customer_path %>
      </li>
      <li>
        <%= link_to "Team", team_path %>
      </li>
      <li>
        <%= link_to "Partners", "#" %>
      </li>
      <li>
        <%= link_to "Press", "#" %>
      </li>
    </ul>
  </nav>

  <div class="hero-unit__login">
    <div class="btn-primary">
      <a id="login">Login</a>
      <ul id="actions">
        <li><%= link_to "Business Login", "#" %></li>
        <li><%= link_to "Customer Login", "#" %></li>
      </ul>
    </div>
  </div>
  <div class="burger-menu"><span></span></div>
</div>
