<section class="hero-unit--customers">
  <div class="content">

    <%= render 'navigation' %>

    <div class="hero-unit__hero-head">
      <div class="hero-unit__hero-head__title">
        <h1>Customers</h1>
        <p>Founded in 2010, Punch has a proven track record working with name brand restaurant chains ranging from 20 locations to several thousand  locations.  Our clients report Punchh generates same-store sales increases of 7% to 10% and we have an amazing 100%  renewal rate.</p>
      </div>

      <div class="hero-unit__form-container">
        <div class="hero-unit__form-background">
          <form class="get-started">
            <input type="text-area" name="some_name" value="" placeholder="Your store name"/>
            <input type="text-area" name="some_name" value="" placeholder="Your email"/>
            <select id="locations" name="">
              <option selected>20-50 locations</option>
              <option>50-100 locations</option>
              <option>100+ locations</option>
            </select>
            <div class="btn-success">
              Get Started
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="customer-focus">
  <h3>For every project, we focus on user outcomes, usable interfaces and a positive ROI.</h3>
</section>

<section class="our-customers">
  <div class="customer-banner schlotzskys-banner">
    <div class="customer-banner__text">
      <h3>Schlotzsky’s lotz 4 me Rewards</h3>
      <p>
        Punchh is the one-stop solution to al Mobile and CRM needs.
        Our comprehensive suite of tools combined with CRM insights build
        rich 360*customer views and delivers a custom marketing and engagment recipe
        to increase visits, gain new customers, increase check sizes and drive revenue growth.
      </p>
    </div>
  </div>
  <div class="customer-banner capriottis-banner">
    <div class="customer-banner__text right">
      <h3>Capriotti’s CAPAddict Rewards</h3>
      <p>
        Punchh is the one-stop solution to al Mobile and CRM needs.  
        Our comprehensive suite of tools combined with CRM insights
        build rich 360*customer views and delivers a custom marketing
        and engagment recipe to increase visits, gain new customers, increase
        check sizes and drive revenue growth.
      </p>
    </div>
  </div>
  <div class="customer-banner royrogers-banner">
    <div class="customer-banner__text">
      <h3>Roy Rogers Rewards</h3>
      <p>
        Punchh is the one-stop solution to al Mobile and CRM needs.
        Our comprehensive suite of tools combined with CRM insights build
        rich 360*customer views and delivers a custom marketing and engagment recipe
        to increase visits, gain new customers, increase check sizes and drive revenue growth.
      </p>
    </div>
  </div>
</section>

<section class="customer-testimonials">
  <div class="testimonials">
    <div class="testimonial-block fb-boys">
      <div class="qoute"></div>
      <%= image_tag("fboys-logo.png")%>
      <p>
        “We chose Punchh to better understand and reward our most loyal customers,
        while improving our ability to attract new patrons. We want to engage our
        customers through one-to-one marketing.  Our goal with Punchh is to reach
        our customers in ways we haven't been able to with traditional advertising.”
      </p>
      <p>
        <b>Demetris Havadilas, CEO, Farmer Boys</b>
      </p>
    </div>
    <div class="testimonial-block sf-soup">
      <div class="qoute"></div>
      <%= image_tag("sf-soup-logo.png")%>
      <p>
        “Part of what makes our concept so popular is the convenience and portability of fresh soups,
        custom tossed salads and sandwiches. Punchh’s Mobile CRM technology stood out for us because it
        will really help us serve our customers better without impacting line speed and reward them for
        their patronage, while driving same-store sales.”
      </p>
      <p>
        <b>Clayton Chan, COO, SF Soup CO</b>
      </p>
    </div>
    <div class="testimonial-block qsr">
      <div class="qoute"></div>
      <%= image_tag("qsr-logo.png")%>
      <p>
        “In our markets, mobile device use is skyrocketing, and that presents a significant opportunity
        for us to engage our customers. We're excited to tap the potential of the Punchh platform to increase
        same-store sales and profitability”
      </p>
      <p>
        <b>Richard Eisenberg, President, QSR International</b>
      </p>
    </div>
  </div>
</section>

<section class="all-customers">
  <%=image_tag("all-logos.png")%>
</section>
