<section class="hero-unit--howitworks">
  <div class="content">

    <%= render 'navigation' %>

    <div class="hero-unit__hero-head">
      <div class="hero-unit__hero-head__title">
        <h1>How it works</h1>
        <div class="hero-unit__hero-head__title-bullets">
          <span>
            Engagement
          </span>
          <span>
            Insights
          </span>
          <span>
            Campaigns
          </span>
          <span>
            ROI
          </span>
        </div>
      </div>

      <div class="hero-unit__form-container">
        <div class="hero-unit__form-background">
          <form class="get-started">
            <input type="text-area" name="some_name" value="" placeholder="Your store name"/>
            <input type="text-area" name="some_name" value="" placeholder="Your email"/>
            <select id="locations" name="">
              <option selected>20-50 locations</option>
              <option>50-100 locations</option>
              <option>100+ locations</option>
            </select>
            <div class="btn-success">
              Get Started
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="content reward-customers">
  <div class="customer-banner__text--rewards">
    <h3>Reward customers who spend at your restaurant and they’ll tell others</h3>
    <p>
      Punchh was created to address any restaurant’s mobile CRM needs. Using data evaluation
      tools and CRM insights, the Punchh platform automatically builds detailed customer profiles
      operators can use to create engaging custom marketing campaigns. Customers receive offers
      that interest them because they’re based on diners’ established preferences.
      You get repeat visits, see check averages rise, revenue grow and, perhaps the best part of all,
      those customers refer your business to others!
    </p>
  </div>
  <div class="graphic">
    <%= image_tag "iphones.png" %>
  </div>
</section>

<section class="content word-of-mouth">
  <div class="graphic">
    <%= image_tag "wordofmouth.png" %>
  </div>
  <div class="customer-banner__text--publicity">
    <h3>Drive word of mouth, listen and respond</h3>
    <p>
      Word-of-mouth referrals are the greatest endorsements for your restaurant. Punchh makes this easy for
      customers to do by rewarding them for spreading the good news about your place in social media.
      When they “talk” about your brand on Facebook and Twitter and Instagram, the Punchh app lets you
      know who your fans are.
    </p>
  </div>
</section>

<section class="content refer-customers">
  <div class="customer-banner__text--refer">
    <h3>Reward your customers for bringing friends </h3>
    <p>
      The Punchh app not only encourages customers to refer friends to your brand, it rewards them for
      those referrals. And when their friends actually come and eat your restaurant, they’re rewarded again.
      The Punchh app even calculates the “value” of such raving fans as their referral network grows and
      lets you know exactly who your most valuable customers are!
    </p>
  </div>
  <div class="graphic">
    <%= image_tag "refer.png" %>
  </div>
</section>

<section class="pos-banner">
  <div class="pos-banner__text">
    <h2>Works with your POS</h2>
    <p>
      Punchh’s integration with your POS will provide you meanigful insights and will enable restaurants
      to look at your customers as “people” instead of data. The goal is to make personalized, 1-1 offers based
      on what you know about each customer.
    </p>
  </div>
</section>

<section class="engage-features">
  <div class="engage-features__content">
    <div class="engage-features__content__block">
      <div class="engage-features__content__block__tailored"></div>
      <div class="engage-features__content__block__text">
        <h3>
          Works with your POS system
        </h3>
        <p>
          Punchh is cloud-based solution, and since there’s never any upgrades to your POS hardware or software, POS system incompatibility is eliminated. And since our software is updated automatically in the cloud, you’re always using the latest version.
        </p>
      </div>
    </div>
    <div class="engage-features__content__block">
      <div class="engage-features__content__block__tailored"></div>
      <div class="engage-features__content__block__text">
        <h3>
          Works with your POS system
        </h3>
        <p>
          Punchh is cloud-based solution, and since there’s never any upgrades to your POS hardware or software, POS system incompatibility is eliminated. And since our software is updated automatically in the cloud, you’re always using the latest version.
        </p>
      </div>
    </div>
    <div class="engage-features__content__block">
      <div class="engage-features__content__block__tailored"></div>
      <div class="engage-features__content__block__text">
        <h3>
          Works with your POS system
        </h3>
        <p>
          Punchh is cloud-based solution, and since there’s never any upgrades to your POS hardware or software, POS system incompatibility is eliminated. And since our software is updated automatically in the cloud, you’re always using the latest version.
        </p>
      </div>
    </div>
    <div class="engage-features__content__block">
      <div class="engage-features__content__block__tailored"></div>
      <div class="engage-features__content__block__text">
        <h3>
          Works with your POS system
        </h3>
        <p>
          Punchh is cloud-based solution, and since there’s never any upgrades to your POS hardware or software, POS system incompatibility is eliminated. And since our software is updated automatically in the cloud, you’re always using the latest version.
        </p>
      </div>
    </div>
    <div class="engage-features__content__block">
      <div class="engage-features__content__block__tailored"></div>
      <div class="engage-features__content__block__text">
        <h3>
          Works with your POS system
        </h3>
        <p>
          Punchh is cloud-based solution, and since there’s never any upgrades to your POS hardware or software, POS system incompatibility is eliminated. And since our software is updated automatically in the cloud, you’re always using the latest version.
        </p>
      </div>
    </div>
    <div class="engage-features__content__block">
      <div class="engage-features__content__block__tailored"></div>
      <div class="engage-features__content__block__text">
        <h3>
          Works with your POS system
        </h3>
        <p>
          Punchh is cloud-based solution, and since there’s never any upgrades to your POS hardware or software, POS system incompatibility is eliminated. And since our software is updated automatically in the cloud, you’re always using the latest version.
        </p>
      </div>
    </div>
  </div>
</section>

<%= render 'mission' %>
