<header class="hero-unit">
  <div class="content">
    <div class="hero-unit__navigation">

      <div class="hero-unit__logo">
        <%= image_tag("logo.png") %>
      </div>

      <nav class="hero-unit__navigation-links">
        <ul>
          <li>
            <%= link_to "Overview", "#" %>
          </li>
          <li>
            <%= link_to "How it works", "#" %>
          </li>
          <li>
            <%= link_to "Customers", "#" %>
          </li>
          <li>
            <%= link_to "Team", "#" %>
          </li>
          <li>
            <%= link_to "Partners", "#" %>
          </li>
          <li>
            <%= link_to "Press", "#" %>
          </li>
        </ul>
      </nav>

      <div class="hero-unit__login">
        <div class="btn-primary">
          Login
        </div>
      </div>

    </div>
    <div class="hero-unit__hero-head">
      <div class="hero-unit__hero-head__title">
        <h1>The Leading Mobile Loyalty and Insights Platform. Proven Results.</h1>
      </div>
      <div class="hero-unit__hero-head__title-bullets">
        <ul>
          <li>
            Complete set of tools
          </li>
          <li>
            Works with any POS
          </li>
          <li>
            Easy to use
          </li>
          <li>
            Proven results
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
