<!-- <nav class="navigation-mobile">
  <ul>
    <li>
      <%= link_to "Overview", "#" %>
    </li>
    <li>
      <%= link_to "How it works", "#" %>
    </li>
    <li>
      <%= link_to "Customers", "#" %>
    </li>
    <li>
      <%= link_to "Team", "#" %>
    </li>
    <li>
      <%= link_to "Partners", "#" %>
    </li>
    <li>
      <%= link_to "Press", "#" %>
    </li>
  </ul>
</nav> -->

<section class="hero-unit--overview">
  <div class="content">
    <div class="hero-unit__navigation">

      <div class="hero-unit__logo">
        <%= image_tag("logo.png") %>
      </div>

      <nav class="hero-unit__navigation-links">
        <ul>
          <li>
            <%= link_to "Overview", "#" %>
          </li>
          <li>
            <%= link_to "How it works", "#" %>
          </li>
          <li>
            <%= link_to "Customers", "#" %>
          </li>
          <li>
            <%= link_to "Team", "#" %>
          </li>
          <li>
            <%= link_to "Partners", "#" %>
          </li>
          <li>
            <%= link_to "Press", "#" %>
          </li>
        </ul>
      </nav>

      <div class="hero-unit__login">
        <div class="btn-primary">
          Login
        </div>
      </div>
      <div class="burger-menu"><span></span></div>
    </div>

    <div class="hero-unit__hero-head">
      <div class="hero-unit__hero-head__title">
        <h1>The Leading Mobile Loyalty and Insights Platform.<br> Proven Results.</h1>
        <div class="hero-unit__hero-head__title-bullets">
          <span>
            Complete set of tools
          </span>
          <span>
            Works with any POS
          </span>
          <span>
            Easy to use
          </span>
          <span>
            Proven results
          </span>
        </div>
      </div>


      <div class="hero-unit__form-container">
        <div class="hero-unit__form-background">
          <form class="get-started">
            <input type="text-area" name="some_name" value="" placeholder="Your store name"/>
            <input type="text-area" name="some_name" value="" placeholder="Your email"/>
            <select id="locations" name="">
              <option selected>20-50 locations</option>
              <option>50-100 locations</option>
              <option>100+ locations</option>
            </select>
            <div class="btn-success">
              Get Started
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="content feature-intro">
  <div class="cloud">
    <%= image_tag("cloud.png") %>
  </div>
  <div class="mac-iphone">
    <%= image_tag("mac-iphone.png") %>
  </div>
  <div class="feature-intro__content">
    <div class="intro-text">
      <div class="intro-text__copy">
        <p>
          Punchh, the restaurant industry's leading mobile loyalty and insights platform, drives guest engagement through fully integrated private-label mobile apps, and equips brands with a cloud-based dashboard to target guests with the right offer, at the right place, at the right time.
        </p>
      </div>
    </div>
    <div class="feature-intro__list">
      <div class="feature-intro__points">
        <div class="col-left">
          <div class="feature-intro__item">
            <span class="icon-engage"></span>
            <p>Engage your customers on mobile, and other channels</p>
          </div>
          <div class="feature-intro__item">
            <span class="icon-customer"></span>
            <p>Know your customers and get valuable insights</p>
          </div>
        </div>
        <div class="col-right">
          <div class="feature-intro__item">
            <span class="icon-target"></span>
            <p>Make your campaigns powerful, easy, and personal</p>
          </div>
          <div class="feature-intro__item">
            <span class="icon-roi"></span>
            <p>Realize huge ROI. Track and measure results in real-time</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class ="comprehensive-tools">
  <div class="content">
    <div class="tools-infographics">
      <%= image_tag("tools-infographic.png") %>
    </div>
    <div class="tools-intro">
      <h2> The most comprehensive set of tools all in one platform</h2>
      <p>Loyalty, reviews, gaming, surveys, ordering, payments, catering, targeted offers & much more all in one place.  We will tailor the offering to your needs and expand as your needs grow.
      </p>
      <div class="learn-more">
        <div class="learn-more-btn">
          <%= link_to "Learn More", "#" %>
        </div>
      </div>
    </div>
  </div>
</section>
